header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    nav {
        display: flex;
        background: $base;
    }
    ul {
        padding: 0 0.5rem;
        margin: 0;
        display: flex;
        &:first-child {
            flex: 1 0 auto;
        }
    }
    li {
        padding: 0 0.25rem;
        margin: 0;
        display: block;
    }
    a {
        padding: 0.25rem 1rem;
        display: block;
        background: none;
    }
    a,
    a:link,
    a:visited {
        color: white;
    }
    a:hover {
        background: $accent1;
    }
    a:focus {
        outline-offset: -4px;
    }
    li.active {
        a,
        a:link,
        a:visited {
            color: $base;
            background: white;
        }
    }
}