@import "font";
@import "theme";

html {
  font-size: 18px;
  font-family: krul, Open Sans, sans-serif;
  margin: 0;
  padding: 0;
  color: $text;
  background: $bg;
}

body {
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

header {
  display: sticky;
  top: 0;
  left: 0;
  right: 0;
  background: $base;

  nav {
    display: flex;
  }

  ul {
  	padding: 0 0.5rem;
    margin: 0;
    display: flex;

    &:first-child {
      flex: 1 0 auto;
    }
  }

  li {
    padding: 0 0.25rem;
    margin: 0;
    display: block;
  }
  
  a {
    padding: 0.25rem 1rem;
    display: block;
  }
  
  a,
  a:link,
  a:visited {
    color: white;
  }
  
  a:focus {
    outline-offset: -4px;
  }

  a:not(:hover) {
    background: none;
  }

  li.active {
    a,
    a:link,
    a:visited {
      color: $base;
      background: white;
    }
  }
}

main,
section {
  padding: 1rem;
  margin: auto;
  max-width: 48rem;
  display: block;
}

h1, h2, th {
  font-family: krul, Libre Baskerville, serif;
  font-weight: normal;
  font-style: italic;
  color: $base;
  font-variant-ligatures: common-ligatures discretionary-ligatures;
}

h1 {
  font-size: 2rem;
  margin: 1rem 0 1rem;
}

h2{
  font-size: 1.5rem;
  margin: 2rem 0 1rem;
}

code {
  font-family: Consolas, monaco, Bitstream Vera Sans Mono, monospace;
  border: 1px solid #aaa;
  background: #eee;
  border-radius: 3px;
  padding: 1px 4px;
  font-size: 0.8em;
  color: $accent2;
  vertical-align: 2px;
}

p {
  margin: 1em 0.1em;
  padding: 0;
}

a {
  padding-bottom: 0.2em;
  text-decoration: none;
  background-image: linear-gradient(to top, currentColor, currentColor 0.1em, transparent, 0.1em, transparent);

  &:visited {
    color: $accent1;
    text-decoration: none;
  }

  &:link,
  &:hover {
    color: $base;
    text-decoration: none;
  }

  &:active,
  &:focus {
    color: $accent2;
    text-decoration: none;
    outline-offset: 2px;
  }

  &:focus {
    outline: 2px solid currentColor;
  }
}

blockquote {
  border: {
	left: 0.5rem solid $accent1;
  	right: 0.125rem solid $accent1;
  }

  background: rgba(122, 164, 169, 0.25);

  margin: {
	left: 0;
  	right: 0;
  	top: 1em;
  	bottom: 1em;
  }

  padding: {
	left: 2em;
  	top: 0.25em;
  	bottom: 0.25em;
  	right: 0.5em;
  }

  font-style: italic;
}

blockquote + cite {
  display: block;
  font-size: 0.8em;
  margin-top: -0.5em;
}

cite::before {
  content: "— ";
}

@import "table", "button";